body {
    padding-top: 57px;
}

.cncBrand.navbar-brand {
    color: #21c300;
}
    .cncBrand.navbar-brand:hover {
        color: #ff9500;
    }
.header-right {
    position:absolute;
    right:0;
    top:0;
}
    .header-right .glyphicon {
        font-size:1.3em;
        color: #21c300;
    }
        .header-right .glyphicon:hover {
            color: #ff9500;
        }

.modal-content {
    padding:0 10px;
    /*color: #21c300;*/
}
    .modal-content ul {
        list-style-type:disc;
        list-style-position:outside;
        padding:0 18px;
    }
        .modal-content h3 {
            margin:10px 0 5px 0;
            color: #ff9500;
        }
        .modal-content li p {
            margin:0;
            color: #21c300;
        }
        .modal-content li a {
            color: #21c300;
        }

.homeContent {
}
    .homeContent h3 {
        color: #21c300;
    }
    .homeContent p {
        color: #ff9500;
    }
    /*.homeContent .btn-primary {*/
    .btn-primary {
        margin-bottom:20px;
        background-color: #21c300;
        border:none;
    }
        .btn-primary:hover {
            background-color: #ff9500;
            border:none;
        }

.sidebar {
    position:absolute;
    top:51px;
    bottom:0;
    left:0;
    right:33.3333333333%;
    padding:5px 0;
    /*background-color:#fdfdfd;*/
    overflow-x:hidden;
    overflow-y: scroll;
}
    .sidebar li {
        float:left;
        list-style: none;
        padding-left:5px;
    }
        .sidebar li a {
            min-width:100px;
            font-size:0.8em;
        }
            .sidebar li a.btn {
                padding:1px 2px;
            }
            .sidebar li a.btn-default {
                background-color: #21c300;
                color:#fff;
            }
            .sidebar li a.btn-default:hover {
                background-color: #ff9500;
            }
    .sidebar::-webkit-scrollbar {
        background-color:#fff;
        width:10px;
    }
    .sidebar::-webkit-scrollbar-thumb {
        background-color: #ff9500;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow:none;
    }

.countriesContent {
    position:absolute;
    top:51px;
    bottom:0;
    left:33.3333333333%;
    right:0;
    padding:0;
    overflow-x:hidden;
    overflow-y: hidden;
    color: #21c300;
    /*background-color:#fdfdfd;*/
}
    .countryInfo {
        text-align:center;
    }
        .countryInfo h3 {
            color: #ff9500;
        }
        table.center {
            margin-left:auto; 
            margin-right:auto;
        }
            td {
                font-size:.90em;
                padding:2px 2px;
                min-width:150px;
            }
            td.labelcol {
                text-align:right;
            }
            td.valuecol {
                text-align:left;
            }

    .infograph {
        padding:20px 0;
        margin:0;
        /*border:1px solid black;*/
    }
        .infograph .popCol  {
            padding-right: 0;
        }
        .infograph .areaCol  {
            padding-left: 0;
        }
        .infograph .populationContainer,
        .infograph .areaContainer {
            position:relative;
        }
            .infograph h4 {
               text-align:center;
            }
            .infograph .population, .infograph .area {
                box-sizing: border-box;
                position:absolute;
            }
            .infograph .population {
                box-shadow: 0 0 3px 3px rgba(33,195,0,0.9), 0 0 5px 5px rgba(33,195,0,0.6), inset 0 0 9px 9px rgba(33,195,0,0.3);
                background-color: #21c300;
            }
            .infograph .area {
                box-shadow: 0 0 3px 3px rgba(255,154,0,0.9), 0 0 5px 5px rgba(255,149,0,0.6), inset 0 0 9px 9px rgba(255,149,0,0.3);
                background-color: #ff9500;
            }

.countryContent {
    color: #21c300;
    text-align:center;
}
    .countryContent .countryInfo {
        /*background-color:#fdfdfd;*/
        display:inline-block;
        margin-bottom:20px;
    }

    .countryContent .countryInfo h3 {
        text-align:left;
        color: #ff9500;
    }
    .countryContent .countryInfo td {
        /*min-width:0;*/
    }
    .countryContent .countryInfo td.neighbors {
        width:200px;
    }

    .countryContent .mapnflag {
        /*background-color:#fdfdfd;*/
        margin-bottom:20px;
    }
    .countryContent .map img {
        /*width:50%;*/
        max-width:75%;
        max-height:250px;
        float:right;
    }
    .countryContent .flag img {
        width:50%;
        float:left;
    }
